button {
  background-color: purple;
  font-size: 3em; }

body {
  float: right; }
  body h3 {
    font-size: 3em; }
  body ul {
    list-style-type: none; }

body {
  background-color: red !important; }
